.App {
  height: 100vh; /* Full height of the viewport */
  width: 100vw;  /* Full width of the viewport */
  background-size: cover; /* Make sure the background covers the div */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}
